@{
  ViewData["Title"] = "Welcome";
}


<h2>Welcome</h2>

<ul>
  @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
  {
    <li>@ViewData["Message"]</li>
  }
</ul>

<p>HelloWorldController got @ViewData["NumTimes"] requests.</p>

<p>Second counter thinks HelloWorldController got @ViewData["NumTimes2"] requests.</p>
