# tell docker to ignore certain paths in that very first step
# where it sends the build context to the Docker daemon

# unfortunately the syntax is not exactly the same as .gitignore
**/bin
**/obj
**/publish
**/.vscode
**/.vs
