<!-- ngIf: if condition, display the div, else don't -->
<button (click)="getNotes()">Refresh</button>
<div *ngIf="notes.length > 0">
  <ol>
    <li *ngFor="let note of notes">{{ note.text }}</li>
  </ol>
</div>
<div *ngIf="notes.length === 0">
  no notes found
</div>

<form [formGroup]="createNoteForm" (ngSubmit)="createNote()">
  <label>
    Note:
    <input type="text" formControlName="text" required>
  </label>

  <button type="submit" [disabled]="!createNoteForm.valid">Submit</button>
</form>

<div *ngIf="error" class="error">
  {{ error }}
</div>
